# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# Expo
.expo/
.expo-shared/
*.expo.json

# Android
**/build/
**/.gradle/
android-native/local.properties

# Environment
mobile-native/.env
.env

# IDEs
.idea/
*.iml
.vscode/

# Misc
.DS_Store
*.log